<!doctype html>
<html ng-app>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>

<body>
    <div>
        <label>Nome:</label>
        <input type="text" ng-model="nome" placeholder="Enter a name here"><br />
        <hr>
        <h1>Olá {{nome}}!</h1>
        <div>
            Olá <input ng-model='nome2'>
            <span ng-bind="nome2"></span> <br />
            <span ng:bind="nome2"></span> <br />
            <span ng_bind="nome2"></span> <br />
            <span data-ng-bind="nome2"></span> <br />
            <span x-ng-bind="nome2"></span> <br />
        </div>
    </div>
</body>

</html>